@import url('https://fonts.googleapis.com/css?family=Song+Myung');

.cart {
        background-image: linear-gradient( rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.678) ), url(../img/bla.png);
        background-size: cover;
        min-height: 100vh;
        height: 100%;
        font-family: 'Song Myung', serif;
}

.cart-div {
    background: white;
    width: 85%;
    margin: auto;
    border-radius: 5px;
    animation: fadein 2s;
    background-blend-mode: screen
}

.cart-div-hide {
    background: rgb(255, 255, 255);
    width: 85%;
    margin: auto;
    border-radius: 5px;
    animation: fadein 2s;
}



.cart-img {
    width: 100px;
    height: 100px;
}

.cart-top {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.line {
    display: block;
    height: 2px;
    background-color: #000000;
    content: " ";
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.cart-more { display: flex }

.cart-more .cart-continue{
    margin-left: 10px;
    color: rgb(9, 165, 30)
}

.cart-have {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    align-items: center;
}

.cart-total {
    margin-right: 150px;
}

.cart-total button {
    padding:5px;
    font-size: 16px;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(22, 150, 5);
    color: #fff;
    outline: none;
    box-shadow: 1px 1px 5px black;
}

.cart-head {
    display: flex;
}

.cart-head h3 {
    position: relative;
    left: -100px;
    margin-left: 16%;
    margin-top: 50px;
    margin-bottom: -10px;
}

.cart-head .price {
    margin-left: 17%;
}

.cart-head .total {
    margin-left: 16%;
}

.render-total {
    margin-left: 30px;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.cart-input {
    width: 60px;
    padding: 6px;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between
}

.cart-remove {
    padding: 8px;
    background-color: rgba(238, 44, 44, 0.76);
    color: white;
    outline: none;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}

.cart-empty {
    margin: 30px 0;
    padding-bottom: 50px;
    text-align: center;
}

.show-list{
    padding-bottom: 80px;
    margin-bottom: 50px;
}

.proceed-div {
    position: relative;
    width: 430px;
    height: 330px;
    background-color: rgb(76, 146, 44);
    margin: auto;
    border-radius: 5px;
    padding-bottom: 40px;
}

.proceed-div img {
    width: 170px;
    height: auto;
    position: absolute;
    left: 30px;
    bottom: 50px;
}

.proceed-div h4 {
    margin-top: 15px;
}

.proceed-div-2 {
    position: absolute;
    top: 30px;
    right: 60px;
}

.proceed-div-2 button {
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(241, 135, 36);
    box-shadow: 1px 1px 5px black;
    margin-top: 20px;
    font-size: 18px;
    outline: none;
    position: absolute;
    right: 0px;
}
.stripe {
    position: absolute;
    height: 30px;
    width: 100px;
    bottom: -10px;
    right: -10px;
    opacity: 0;
    z-index: 99999;
}

.order {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    animation: fadein 2s;
    display: none;
    
}

.order-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    animation: fadein 2s;
    display: block;
    box-shadow: 3px 3px 5px black;
    z-index: 9999;
} 

.cart-back {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid rgb(158, 13, 13);
    padding: 5px;
    border-radius: 5px;
    color: rgb(158, 13, 13);
    cursor: pointer;
}

.cover-cart {
    position: fixed;
    top:0;
    width: 100vw;
    height: 100%;
    background-color: rgb(8, 8, 8);
    opacity: 0.4;
    display: block;
}

.cover-cart-2 {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}