.yourtickets {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bla.png);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-size: cover;
}
.main-tickets2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

#c {
    color: rgb(243, 155, 23);
    cursor: pointer;
}

.ticket-holder {
    position: absolute;
    bottom: 30%;
    left: 40%;
}
